<!-- <div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <h1 class="display-3">{{nome}} tem {{getIdade()}}</h1>
    <p class="leas">This is a simple hero unit, a simple jumbotron-style component</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out wit</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div> -->


<!-- Outra forma de fazer... -->
<!-- <div class="container">
  <div class="alert alert-success" role="alert">
    Funcionário adicionado: <strong>{{nome}}</strong>
  </div>

  <div class="mb-3">
    <label class="form-label">Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome" #nomeInput [value]="nome">
  </div>

  <button type="button" class="btn btn-primary" (click)="adicionar(nomeInput.value)" [disabled]="nome.length == 0">Adicionar</button>

</div> -->


<div class="container">
  <div class="alert alert-success" role="alert" *ngIf="adicionado">
    Funcionário adicionado: <strong>{{nome}}</strong>
  </div>

  <!-- Outra forma de fazer, porem aparece na inspeção do navegador as informações-->
  <!-- <div class="alert alert-success" role="alert" [hidden]="!adicionado">
    Funcionário adicionado: <strong>{{nome}}</strong>
  </div> -->

  <div class="mb-3">
    <label class="form-label">Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome" (focus)="adicionado = false">
  </div>

  <!-- <div class="mb-3">
    <label class="form-label">Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome" (input)="alterarNome($event)" [value]="nome">
  </div> -->

  <button type="button" class="btn btn-primary" (click)="adicionar()" [disabled]="nome.length == 0">Adicionar</button>

  <div class="row" style="margin-top: 20px">
    <div class="col-2" *ngFor="let funcionario of funcionarios">
      <img class="card-img-top" src="https://randomuser.me/api/portraits/men/{{funcionario.id}}.jpg" alt="">
      <div class="card-block">{{funcionario.nome}}</div>
      <!-- <app-funcionario-card></app-funcionario-card> -->
    </div>
  </div>

</div>